
@{
}

<!-- Syle CSS appliqué-->
<link rel="stylesheet" media="screen" type="text/css" title="ledesigndetonindex" href="~/css/StyleAccount.css" />


<!-- view html-->

<body>

    <form action="https://localhost:7222/register/SignUp" method="get">
        <button type="submit" class="btn btn-primary">Register</button>
    </form>

</body>