@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "You are almost done !";
}

<h1>@ViewData["Title"]</h1>
<br />


<section>

    <br />

    <div class="flex-container flex-md-row p-1 justify-content-evenly">

        <div class="p-1">
            <h2>My profil: </h2> <br />

            <div class="mb-3" style="width: 15rem;">
                <label for="exampleFormControlInput1" class="form-label">My weight:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="75 kg">
            </div>

            <div class="mb-3" style="width: 15rem;">
                <label for="exampleFormControlInput1" class="form-label">My height:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="175 cm">
            </div>

            <div class="mb-3" style="width: 20rem;">
                <label for="exampleFormControlInput1" class="form-label">My predisposition:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Blood pressure, diabetes...">
            </div>
        </div> <br /> <br />

        <div class="p-1">
            <h2>My goals: </h2> <br />

            <div class="mb-3" style="width: 15rem;">
                <label for="exampleFormControlInput1" class="form-label">My weight goal:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="70 kg">
            </div>

            <div class="mb-3" style="width: 15rem;">
                <label for="exampleFormControlInput1" class="form-label">Calories consumed target:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="1800 kcal">
            </div>

            <div class="mb-3" style="width: 15rem;">
                <label for="exampleFormControlInput1" class="form-label">Calories burned target:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="800 kcal">
            </div>
        </div>

    </div>

</section>
<br />



<div class="container">   
   
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="service_item">
                <div class="service_photo">
                    <img src="~/Assets/Images/perdre.jfif" alt="Program">
                    <div class="photo_overlay"></div>
                </div>
                <div class="service_caption">                   
                    <h4 class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Perdre du poids
                        </label>
                    </h4>
                </div>
                
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="service_item">
                <div class="service_photo">
                    <img src="~/Assets/Images/sculpter.jfif" alt="Program">
                    <div class="photo_overlay"></div>
                </div>
                <div class="service_caption">                  
                    <h4 class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Se sculpter
                        </label>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="service_item">
                <div class="service_photo">
                    <img src="~/Assets/Images/forme.jfif" alt="Program">
                    <div class="photo_overlay"></div>
                </div>
                <div class="service_caption">
                    <h4 class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Entretenir sa forme
                        </label>
                        <h4>et sa santé</h4>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="service_item">
                <div class="service_photo">
                    <img src="~/Assets/Images/ressourcer.jfif" alt="Program">
                    <div class="photo_overlay"></div>
                </div>
                <div class="service_caption">
                    <h4 class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Se ressourcer
                        </label>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="service_item">
                <div class="service_photo">
                    <img src="~/Assets/Images/preparation.jfif" alt="Program">
                    <div class="photo_overlay"></div>
                </div>
                <div class="service_caption">
                    <h4 class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Optimiser sa préparation physique
                        </label>
                    </h4>
                </div>
            </div>
        </div>       
    </div>
</div>
<br />
<br />


<section>

    <h2>My sport level: </h2> <br />
    
    <div class="row row-cols-1 row-cols-md-5 g-4" style="width: 68rem;">
        <div class="col">
            <div class="card h-100">
                @*<img class="card-img-top" src="~/Assets/Images/perdre.jfif" alt="Logo">*@
                <div class="card-body">
                    <h5 class="card-title">Au top! </h5>
                    <p class="card-text"> I train every day or almost !</p>
                    <a href="#" class="btn btn-danger" data-cardSelectButton>Select</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                @*<img class="card-img-top" src="~/Assets/Images/sculpter.jfif" alt="Logo">*@
                <div class="card-body">
                    <h5 class="card-title">Good! </h5>
                    <p class="card-text"> I train often : at least once a week ! </p>
                    <a href="#" class="btn btn-danger" data-cardSelectButton>Select</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                @*<img class="card-img-top" src="~/Assets/Images/preparation.jfif" alt="Logo">*@
                <div class="card-body">
                    <h5 class="card-title">Medium </h5>
                    <p class="card-text">I train a little : at least once a month </p>
                    <a href="#" class="btn btn-danger" data-cardSelectButton>Select</a>                   
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                @*<img class="card-img-top" src="~/Assets/Images/ressourcer.jfif" alt="Logo">*@
                <div class="card-body">
                    <h5 class="card-title">Not very good... </h5>
                    <p class="card-text">Sport is not yet in my life... </p>
                    <a href="#" class="btn btn-danger" data-cardSelectButton>Select</a>
                </div>
            </div>
        </div>        
    </div>

</section>
<br />
<br />
<br />


<form action="https://localhost:7222/register/welcome" method="get">
    <button type="submit"class="btn btn-primary">Continue</button>
</form>