@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "One last effort ! We give everything !";
}

<h1>@ViewData["Title"]</h1>
<br />


<section>

    <h5>My profil and my goals:</h5> <br />

    <div class="flex-container flex-md-row p-1 justify-content-evenly">

        <div class="p-1">
            <h6>My informations: </h6> <br />

            <div class="mb-3" style="width: 15rem;">
                <label for="exampleFormControlInput1" class="form-label">My weight:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="75 kg">
            </div>

            <div class="mb-3" style="width: 15rem;">
                <label for="exampleFormControlInput1" class="form-label">My height:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="175 cm">
            </div>

            <div class="mb-3" style="width: 20rem;">
                <label for="exampleFormControlInput1" class="form-label">My predisposition:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Blood pressure, diabetes...">
            </div>
        </div>

        <div class="p-1">
            <h6>My goals: </h6> <br />

            <div class="mb-3" style="width: 15rem;">
                <label for="exampleFormControlInput1" class="form-label">My weight goal:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="70 kg">
            </div>

            <div class="mb-3" style="width: 15rem;">
                <label for="exampleFormControlInput1" class="form-label">Calories consumed target:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="1800 kcal">
            </div>

            <div class="mb-3" style="width: 15rem;">
                <label for="exampleFormControlInput1" class="form-label">Calories burned target:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="800 kcal">
            </div>
        </div>

    </div>

</section>
<br />



<section>

    <h5>My target: </h5>

    <div class="row row-cols-1 row-cols-md-5 g-4" style="width: 68rem;">
        <div class="col">
            <div class="card h-100">
                <img width="100%" class="card-img-top" src="\assets\img\balance.jfif" alt="Logo">
                <div class="card-body">
                    <h5 class="card-title">Perdre du poids</h5>
                    <p class="card-text"> </p>
                    <a href="#" class="btn btn-primary">Select</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img width="100%" class="card-img-top" src="\assets\img\halter.png" alt="Logo">
                <div class="card-body">
                    <h5 class="card-title">Me sculpter</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Select</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img width="100%" class="card-img-top" src="\assets\img\preparation.jfif" alt="Logo">
                <div class="card-body">
                    <h5 class="card-title">Optimiser ma préparation physique</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Select</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img width="100%" class="card-img-top" src="\assets\img\ressource.jfif" alt="Logo">
                <div class="card-body">
                    <h5 class="card-title">Me ressourcer</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Select</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img width="100%" class="card-img-top" src="\assets\img\forme.png" alt="Logo">
                <div class="card-body">
                    <h5 class="card-title">Entretenir ma forme et ma santé</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Select</a>
                </div>
            </div>
        </div>
    </div>

</section>
<br />


<section>

    <h5>My sport level: </h5>

    <label for="customRange1" class="form-label"></label>
    <p class="text-start"> Au top !</p>
    <p class="text-center"> Good !</p>
    <p class="text-center">  Medium  </p>
    <p class="text-end"> Not very good...</p>

    <input type="range" class="form-range" id="customRange1">

</section>
<br />


<button type="button" class="btn btn-primary">Continue</button>


<div class="content">
    <div class="container">
        <h2 class="my-5 text-center">Carousel #2</h2>
    </div>
    <div class="site-section bg-left-half mb-5">
        <div class="container owl-2-style">
            <h2 class="text-primary py-5 ">Our Products</h2>
            <div class="owl-carousel owl-2 owl-loaded owl-drag">






                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-950px, 0px, 0px); transition: all 1s ease 0s; width: 3801px;">
                        <div class="owl-item cloned" style="width: 296.667px; margin-right: 20px;">
                            <div class="media-29101">
                                <a href="#"><img src="images/img_4.jpg" alt="Image" class="img-fluid"></a>
                                <h3><a href="#">Consectetur Adipisicing Elit</a></h3>
                            </div>
                        </div><div class="owl-item cloned" style="width: 296.667px; margin-right: 20px;">
                            <div class="media-29101">
                                <a href="#"><img src="images/img_5.jpg" alt="Image" class="img-fluid"></a>
                                <h3><a href="#">Beatae Doloribu</a></h3>
                            </div>
                        </div><div class="owl-item cloned" style="width: 296.667px; margin-right: 20px;">
                            <div class="media-29101">
                                <a href="#"><img src="images/img_6.jpg" alt="Image" class="img-fluid"></a>
                                <h3><a href="#">Accusantium Eius Soluta</a></h3>
                            </div>
                        </div><div class="owl-item active" style="width: 296.667px; margin-right: 20px;">
                            <div class="media-29101">
                                <a href="#"><img src="images/img_1.jpg" alt="Image" class="img-fluid"></a>
                                <h3><a href="#">Consectetur Adipisicing Elit</a></h3>
                            </div>
                        </div><div class="owl-item active" style="width: 296.667px; margin-right: 20px;">
                            <div class="media-29101">
                                <a href="#"><img src="images/img_2.jpg" alt="Image" class="img-fluid"></a>
                                <h3><a href="#">Beatae Doloribu</a></h3>
                            </div>
                        </div><div class="owl-item active" style="width: 296.667px; margin-right: 20px;">
                            <div class="media-29101">
                                <a href="#"><img src="images/img_3.jpg" alt="Image" class="img-fluid"></a>
                                <h3><a href="#">Accusantium Eius Soluta</a></h3>
                            </div>
                        </div><div class="owl-item" style="width: 296.667px; margin-right: 20px;">
                            <div class="media-29101">
                                <a href="#"><img src="images/img_4.jpg" alt="Image" class="img-fluid"></a>
                                <h3><a href="#">Consectetur Adipisicing Elit</a></h3>
                            </div>
                        </div><div class="owl-item" style="width: 296.667px; margin-right: 20px;">
                            <div class="media-29101">
                                <a href="#"><img src="images/img_5.jpg" alt="Image" class="img-fluid"></a>
                                <h3><a href="#">Beatae Doloribu</a></h3>
                            </div>
                        </div><div class="owl-item" style="width: 296.667px; margin-right: 20px;">
                            <div class="media-29101">
                                <a href="#"><img src="images/img_6.jpg" alt="Image" class="img-fluid"></a>
                                <h3><a href="#">Accusantium Eius Soluta</a></h3>
                            </div>
                        </div><div class="owl-item cloned" style="width: 296.667px; margin-right: 20px;">
                            <div class="media-29101">
                                <a href="#"><img src="images/img_1.jpg" alt="Image" class="img-fluid"></a>
                                <h3><a href="#">Consectetur Adipisicing Elit</a></h3>
                            </div>
                        </div><div class="owl-item cloned" style="width: 296.667px; margin-right: 20px;">
                            <div class="media-29101">
                                <a href="#"><img src="images/img_2.jpg" alt="Image" class="img-fluid"></a>
                                <h3><a href="#">Beatae Doloribu</a></h3>
                            </div>
                        </div><div class="owl-item cloned" style="width: 296.667px; margin-right: 20px;">
                            <div class="media-29101">
                                <a href="#"><img src="images/img_3.jpg" alt="Image" class="img-fluid"></a>
                                <h3><a href="#">Accusantium Eius Soluta</a></h3>
                            </div>
                        </div>
                    </div>
                </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
            </div>
        </div>
    </div>
</div>