
@{
}


<!-- Syle CSS appliqué-->
<link rel="stylesheet" media="screen" type="text/css" title="ledesigndetonindex" href="~/css/StyleAccount.css" />


<!-- view html-->

<body>

    <div class="main-content">

        <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">

            <div class="container-fluid">

                <ul block="block-monespace" class="clearfix nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="MyAccount" asp-action="MyInformation">My Informations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="MyAccount" asp-action="MySubscription">My Subscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="MyAccount" asp-action="MyReservations">My Reservations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="MyAccount" asp-action="Myfavorites">My favorites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="MyAccount" asp-action="MyGoal">My Goal</a>
                    </li>
                    <li class="nav-item menu-item--active-trail">
                        <a class="nav-link" asp-area="" asp-controller="MyAccount" asp-action="ChangePassword">Change Password</a>
                    </li>

                </ul>


            </div>

        </nav>
        <!-- Header -->
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: src(/wwwroot/Assets/Images/fit.jpg); background-size: cover; background-position: center top;">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <h1 class="display-2 text-white">Hello Rachel ! </h1>
                        <p class="text-white mt-0 mb-5">This is your profile page. You can see and edit your informations. You can also see the progress you've made with your work through time.</p>
                        <!--<a href="#!" class="btn btn-info">Edit profile</a>-->
                    </div>
                </div>
            </div>
        </div>

        <!-- Page content -->
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                    <div class="card card-profile shadow">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a href="#">
                                        <img src="https://demos.creative-tim.com/argon-dashboard/assets-old/img/theme/team-4.jpg" class="rounded-circle">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <div class="d-flex justify-content-between">
                                <!--<a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                                <a href="#" class="btn btn-sm btn-default float-right">Message</a>-->
                            </div>
                        </div>
                        <div class="card-body pt-0 pt-md-4">
                            <div class="row">
                                <div class="col">
                                    <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                        <div>
                                            <span class="heading">2</span>
                                            <span class="description"> Days since your last visit</span>
                                        </div>
                                        <div>
                                            <span class="heading">22</span>
                                            <span class="description">Number of visits</span>
                                        </div>
                                        <div>
                                            <span class="heading">3</span>
                                            <span class="description">Clubs visited</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <h3>
                                    Rachel WILLIAMS<span class="font-weight-light">, 28</span>
                                </h3>
                                <div class="h5 font-weight-300">
                                    <i class="ni location_pin mr-2"></i>Paris, France
                                </div>
                                <div class="h5 mt-4">
                                    <i class="ni business_briefcase-24 mr-2"></i>Member since 2022-06-12
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 order-xl-1">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Change Password</h3>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#!" class="btn btn-sm btn-primary">Save changes</a>
                                    <!---<div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-actual-password">Actual Password</label>
                                                <input type="text" id="input-actual-password" class="form-control form-control-alternative" placeholder="Actual Password" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-new-password">New Password</label>
                                                <input type="text" id="input-new-password" class="form-control form-control-alternative" placeholder="New Password" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-confirm-password">Confirm Password</label>
                                                <input type="text" id="input-confirm-password" class="form-control form-control-alternative" placeholder="Confirm Password" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4">
                            </form>
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>


    </div>
    <br />
    <br />
    <br />
   



</body>