@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<ul block="block-monespace" class="clearfix nav">
    <li class="nav-item">        
        <a class="nav-link" asp-area="" asp-controller="MyAccount" asp-action="MyInformation">My Informations</a>
    <li class="nav-item menu-item--active-trail">
        <a class="nav-link" asp-area="" asp-controller="MyAccount" asp-action="ChangePassword">Change Password</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="MyAccount" asp-action="MySubscription">My Subscription</a>
    </li>
    <li class="nav-item">        
        <a class="nav-link" asp-area="" asp-controller="MyAccount" asp-action="MyReservations">My Reservations</a>
    </li>
    <li class="nav-item">       
        <a class="nav-link" asp-area="" asp-controller="MyAccount" asp-action="Myfavorites">My favorites</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="MyAccount" asp-action="MyGoal">My Goal</a>
    </li>  
    
</ul>


<div class="page-user">
    <div class="container">
        <div class="row">

            <div class="mobile-expand collapsed" data-toggle="collapse" data-target="#block-monespace" aria-label="toggle navigation" aria-expanded="true">
                <div class="expand-title">
                    <h2 class="title">My Account </h2>
                    <img src="/themes/custom/neoness/images/icons/chevron-ouvert-white.svg" class="svg-menu-open">
                    <img src="/themes/custom/neoness/images/close.svg" class="svg-menu-close" alt="Fermer">
                </div>
            </div>

            <div role="navigation" aria-labelledby="block-monespace-menu" id="block-monespace" class="block-on-333903 block block-menu navigation menu--mon-espace col-12 col-md-3 px-0 collapse">

                <h2 id="block-monespace-menu">My Account</h2>



                <ul block="block-monespace" class="clearfix nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="MyAccount" asp-action="MyInformation">My Informations</a>
                    <li class="nav-item menu-item--active-trail">
                        <a class="nav-link" asp-area="" asp-controller="MyAccount" asp-action="ChangePassword">Change Password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="MyAccount" asp-action="MySubscription">My Subscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="MyAccount" asp-action="MyReservations">My Reservations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="MyAccount" asp-action="Myfavorites">My favorites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="MyAccount" asp-action="MyGoal">My Goal</a>
                    </li>

                </ul>



                <div class="logout-block">
                    <img src="/themes/custom/neoness/images/icons/icon_on.svg" alt="">
                    <a href="/user/logout">Déconnexion</a>
                </div>
            </div>
            <div id="block-neoness-content" class="block-on-333903">



                <form class="user-view-form user-form" novalidate="novalidate" data-drupal-selector="user-view-form" action="/user/333903" method="post" id="user-view-form" accept-charset="UTF-8">
                    <input autocomplete="off" data-drupal-selector="form-ecwltzwwjpeylnzry-mnl-mq958oj3idhpz8ptmcnj8" type="hidden" name="form_build_id" value="form-EcwLTZWwjPeyLnzry-MnL-mQ958oJ3iDHPZ8pTmCNJ8" class="form-control">

                    <input data-drupal-selector="edit-user-view-form-form-token" type="hidden" name="form_token" value="VoI7XSGNuxhcgySxYJJyEUUz6L2TaPWgAY2_PuyIz9o" class="form-control">

                    <input data-drupal-selector="edit-user-view-form" type="hidden" name="form_id" value="user_view_form" class="form-control">


                    <div class="container">


                        <div class="row d-md-none">
                            <div class="col-md-3 s12 offset-l1 l5 title">Mes informations</div>
                        </div>
                        <div class="row col-12">
                            <div class="col-md-4 s12 offset-l1 l5 title d-none d-md-block">My informations</div>
                            <div class="col-md-4 s12 offset-l1 l5 club d-none d-md-block">


                                <fieldset id="edit-club" class="js-form-item js-form-type-item form-type-item js-form-item-club form-item-club form-group">
                                    <label for="edit-club">My reference Club</label>
                                    CCIAL QUAIS D'IVRY
                                </fieldset>
                            </div>
                            <div class="col-md-4 s12 offset-l1 l5 club d-none d-md-block">


                                <fieldset id="edit-number" class="js-form-item js-form-type-item form-type-item js-form-item-number form-item-number form-group">
                                    <label for="edit-number">Membership number</label>
                                    900486
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 description">
                                To modify your information, we invite you to go to your club.
                            </div>
                        </div>
                        <div class="row d-md-none">
                            <div class="col-md-6 s12 offset-l1 l5 club">


                                <fieldset id="edit-club" class="js-form-item js-form-type-item form-type-item js-form-item-club form-item-club form-group">
                                    <label for="edit-club">Reference Club</label>
                                    CCIAL QUAIS D'IVRY
                                </fieldset>
                            </div>
                            <div class="col-md-3 s12 offset-l1 l5 club">


                                <fieldset id="edit-number" class="js-form-item js-form-type-item form-type-item js-form-item-number form-item-number form-group">
                                    <label for="edit-number">Membership number</label>
                                    900486
                                </fieldset>
                            </div>
                        </div>


                        <div class="row form">
                            <div class="col-md-4 s12 offset-l1 l5">



                                <fieldset class="js-form-item js-form-type-textfield form-type-textfield js-form-item-givenname form-item-givenname disabled form-group">
                                    <label for="edit-givenname" class="js-form-required form-required active">Prénom</label>
                                    <input data-drupal-selector="edit-givenname" disabled="disabled" type="text" id="edit-givenname" name="givenName" value="ALEXANDRA" size="60" maxlength="128" class="form-text required form-control" required="required" aria-required="true">

                                </fieldset>

                            </div>
                            <div class="col-md-4 s12 l5">



                                <fieldset class="js-form-item js-form-type-textfield form-type-textfield js-form-item-familyname form-item-familyname disabled form-group">
                                    <label for="edit-familyname" class="js-form-required form-required active">Nom</label>
                                    <input data-drupal-selector="edit-familyname" disabled="disabled" type="text" id="edit-familyname" name="familyName" value="HYBARE" size="60" maxlength="128" class="form-text required form-control" required="required" aria-required="true">

                                </fieldset>

                            </div>
                            <div class="col-md-4 s12 l5">
                                <div class="field--type-datetime field--name-field-user-date-de-naissance field--widget-datetime-datelist js-form-wrapper form-group" data-drupal-selector="edit-birthdate" id="edit-birthdate">
                                    <fieldset data-drupal-selector="edit-0" id="edit-0" class="js-form-item form-item js-form-wrapper form-group">
                                        <legend>
                                            <span class="fieldset-legend">Birthdate</span>
                                        </legend>
                                        <div class="fieldset-wrapper">



                                            <fieldset class="js-form-item js-form-type-textfield form-type-textfield js-form-item-birthdate form-item-birthdate form-no-label disabled form-group">
                                                <input data-drupal-selector="edit-birthdate" disabled="disabled" type="text" id="edit-birthdate--2" name="birthdate" value="1992-01-21" size="60" maxlength="128" class="form-text required form-control" required="required" aria-required="true">

                                            </fieldset>

                                        </div>
                                    </fieldset>
                                </div>

                            </div>
                        </div>

                        <div class="row form">
                            <div class="col-md-4 s12 offset-l1 l5">



                                <fieldset class="js-form-item js-form-type-textfield form-type-textfield js-form-item-mobile form-item-mobile disabled form-group">
                                    <label for="edit-mobile" class="active">Téléphone portable</label>
                                    <input data-drupal-selector="edit-mobile" disabled="disabled" type="text" id="edit-mobile" name="mobile" value="0695285541" size="60" maxlength="128" class="form-text form-control">

                                </fieldset>

                            </div>
                            <div class="col-md-4 s12 l5">



                                <fieldset class="js-form-item js-form-type-textfield form-type-textfield js-form-item-landline form-item-landline disabled form-group">
                                    <label for="edit-landline">Téléphone portable</label>
                                    <input data-drupal-selector="edit-landline" disabled="disabled" type="text" id="edit-landline" name="landline" value="" size="60" maxlength="128" class="form-text form-control">

                                </fieldset>

                            </div>

                        </div>

                        <div class="row form">
                            <div class="col-md-4 s12 m12 offset-l1 l5">



                                <fieldset class="js-form-item js-form-type-textfield form-type-textfield js-form-item-streetaddress form-item-streetaddress disabled form-group">
                                    <label for="edit-streetaddress" class="js-form-required form-required active">Adresse</label>
                                    <input data-drupal-selector="edit-streetaddress" disabled="disabled" type="text" id="edit-streetaddress" name="streetAddress" value="Rue de Paris" size="60" maxlength="128" class="form-text required form-control" required="required" aria-required="true">

                                </fieldset>

                            </div>
                            <div class="col-md-4 s12 m4 l2">



                                <fieldset class="js-form-item js-form-type-textfield form-type-textfield js-form-item-postalcode form-item-postalcode disabled form-group">
                                    <label for="edit-postalcode" class="js-form-required form-required active">Code postal</label>
                                    <input data-drupal-selector="edit-postalcode" disabled="disabled" type="text" id="edit-postalcode" name="postalCode" value="92220" size="60" maxlength="128" class="form-text required form-control" required="required" aria-required="true">

                                </fieldset>

                            </div>
                            <div class="col-md-4 s12 m8 l3">



                                <fieldset class="js-form-item js-form-type-textfield form-type-textfield js-form-item-addresslocality form-item-addresslocality disabled form-group">
                                    <label for="edit-addresslocality" class="js-form-required form-required active">Ville</label>
                                    <input data-drupal-selector="edit-addresslocality" disabled="disabled" type="text" id="edit-addresslocality" name="addressLocality" value="PUTEAUX" size="60" maxlength="128" class="form-text required form-control" required="required" aria-required="true">

                                </fieldset>

                            </div>
                        </div>
                        <div class="row form">
                            <div class="col-md-4 s12 m8 l3">



                                <fieldset class="js-form-item js-form-type-textfield form-type-textfield js-form-item-emailaddress form-item-emailaddress disabled form-group">
                                    <label for="edit-emailaddress" class="js-form-required form-required active">Courriel</label>
                                    <input data-drupal-selector="edit-emailaddress" disabled="disabled" type="text" id="edit-emailaddress" name="emailAddress" value="alexandra.h@gmail.com" size="60" maxlength="128" class="form-text required form-control" required="required" aria-required="true">

                                </fieldset>

                            </div>
                        </div>


                        <div class="row form">
                            <div class="col-md-4 s12 offset-l1 l5">
                            </div>
                            <div class="col-md-4 s12 l5">
                            </div>
                        </div>

                        <div class="row form">
                            <div class="col s12 offset-l1 l10 right-align">
                            </div>
                        </div>
                    </div>

                </form>

            </div>


        </div>
    </div>
</div>