@model FitnessGymApplication.Models.Coach

<div class="row">
    <div class="col-md-4">
       
            <form method="post" asp-action="Create" enctype="multipart/form-data">
                <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
          
           @* <div class="form-group">
                <label asp-for="Photo"></label>
                <input type="file" asp-for="Photo" class="form-control" />

            </div>*@

            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input type="file" name="File" asp-for="File"
                       class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
                <img src="~/Content/Image/" style="width:124px;" class="img-thumbnail" />
            </div>
             @* <div class="form-group">
                <label asp-for="IdSpeciality" class="control-label"></label>
                <select asp-for="IdSpeciality" class="form-control" asp-items="ViewBag.IdSpeciality"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="IdSpeciality" class="control-label"></label>
                <select asp-for="IdSpeciality" class="form-control" asp-items="ViewBag.IdSpeciality">
                    <option selected="selected" value="">...</option>



                </select>
            </div>
          
@*            <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" />
*@            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


