@model IEnumerable<FitnessGymApplication.Models.Coach>

@{
    <div class="bp11hl_paragraph_reference field field--name-field-bp11hl-paragraph-reference field--type-entity-reference field--label-hidden field__item">
        <div class="paragraph paragraph-342 paragraph--type--bp11-header-light paragraph--view-mode--default">

            <div class="container-bp11hl container text-center">

                <div class="bp11hl_title field field--name-field-bp11hl-title field--type-string field--label-hidden field__item"><h1 class="field__item"> l'entreneure de notre club</h1></div>


            </div>

        </div>
    </div>
}



<div class="row row-cols-1 row-cols-md-3 g-4">
<tbody>
@foreach (var item in Model) {
 <div class="card">
              <div class="col">
                      <div class="card h-100">
                      <img src="~/image/co.jfif">
                      <div class="card-body">
                        <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h5>
                            <h4 class="card-text"> @Html.DisplayFor(modelItem => item.Speciality.Name)</h4>
                       <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                       <a class="btn-neoness-small btn_neoness-gradient-red" href="/freemium" style="margin-bottom:25px; margin-top:-10px;" tabindex="-1">Ajouter Aux Favoris</a>

                          @*  <a href="#" class="card-link">Another link</a>*@
                    </div>
                    </div>
              </div>  
              </div>
}
    </tbody>
</div>
